.background {
  max-width: 600px;
  padding: 100px;
  background-color: lightblue;
  background-image: url(https://unsplash.it/550/150?image=703);
  background-repeat: no-repeat;
  /*background-position: 100px 10px;*/
  /*background-size: 100% 10%;*/
  background-position: top right;
  background-size: cover;
}